li:first-of-type .image {
		background-image: url(../img/cover.jpg);
	}
li:nth-of-type(2) .image {
		background-image: url(../img/star.jpg);
	}
li:nth-of-type(3) .image {
		background-image: url(../img/chess.jpg);
	}
li:nth-of-type(4) .image {
		background-image: url(../img/spi.jpg);
	}
li:nth-of-type(5) .image {
		background-image: url(../img/trek.jpg);
	}
li:nth-of-type(6) .image {
		background-image: url(../img/game.jpg);
	}
li:nth-of-type(7) .image {
		background-image: url(../img/dance.jpg);
	}
li:nth-of-type(8) .image {
		background-image: url(../img/story.jpg);
	}
li:nth-of-type(9) .image {
		background-image: url(../img/98.jpg);
	}
li:nth-of-type(10) .image {
		background-image: url(../img/fluid.jpg);
	}
li:nth-of-type(11) .image {
		background-image: url(../img/planet.jpg);
	}
li:nth-of-type(11) .image {
		background-image: url(../img/mother.jpg);
	}
