.page-heading {
	color: #fff;
}

.code,
.code .line-count,
.code .line-count span,
.code .code-items,
.code .code-items .code-item,
.code .code-items .code-item .code-item-content,
.code .code-items .code-item .code-item-content .code-item-line,
.code .code-items .code-item.description-item .description-item-line{
	float: left;
	position: relative;
}

.code,
.code .line-count span,
.code .code-items .code-item,
.code .code-items .code-item .code-item-content,
.code .code-items .code-item .code-item-content .code-item-line,
.code .code-items .code-item.description-item .description-item-line{
	width: 100%;
}

.code .line-count{
	float: left;
	position: relative;
	width: 60px;
}

.code .line-count span{
	text-align: center;
	line-height: 25px;
	color: rgba(255,255,255,.5);
	transition:100ms linear;
	-webkit-transition:100ms linear;
	-ms-transition:100ms linear;
}

.code .code-items{
	width: calc(100% - 60px);
	float: left;
	position: relative;
}

.code .code-items .code-item{
	margin-bottom: 25px;
}

.code .code-items .code-item .directional-arrow{
	position: absolute;
    top: 6px;
    left: -15px;
    cursor: pointer;
}

.code .code-items .code-item .directional-arrow:before{
	content: "\f0d7";
	display: inline-block;
    font: normal normal normal 14px/1 FontAwesome;
    font-size: inherit;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
    color: rgba(255,255,255,.5);
}

.code .code-items .code-item.close .directional-arrow:before{
	content: "\f0da";
}

.code .code-items .code-item:after{
	content: "}";
	width: 100%;
	float: left;
	position:relative;
	color: #fff;
	line-height: 25px;
}

.code .code-items .code-item .code-selection{	
	width: 100%;
	float: left;
	position: relative;
	color: #A6E22E;
	line-height: 25px;
}

.code .code-items .code-item .code-selection:after{
	content: "{";
	color: #fff;
	margin-left: 5px;
}

.code .code-items .code-item .code-item-content{
	padding-left: 40px;
	line-height: 25px;
}

.code .code-items .code-item .code-item-content:before{
	content: "";
	position: absolute;
	left: 0;
	top: 3px;
	height: calc(100% - 6px);
	width: 1px;
	border-left:1px dotted rgba(255,255,255,.3);
}

.code .code-items .code-item .code-item-content .code-item-line .code-item-attr{
	color: #66D9EF;
	font-style: italic;
}

.code .code-items .code-item .code-item-content .code-item-line .code-item-attr:after{
	content: ":";
	font-style: normal;
	color: #fff;
	font-size: .9em;
	margin-left: 2.5px;
}

.code .code-items .code-item .code-item-content .code-item-line{
	margin-bottom: -1px;
}
	
.code .code-items .code-item .code-item-content .code-item-line .code-item-value,
.code .code-items .code-item .code-item-content .code-item-line .code-item-value a{
	color: #66D9EF;
}

.code .code-items .code-item .code-item-content .code-item-line .code-item-value a:hover{
	background: rgba(255,255,255,.2);
}

.code .code-items .code-item .code-item-content .code-item-line .code-item-value:after{
	content: ";";
	color: #fff;
	font-size: .9em;
	margin-left: -7.5px;
}

.code .code-items .code-item .code-item-content .code-item-line.value-content{
	margin-top: 0px;
	margin-bottom: -4px;
}

.code .code-items .code-item .code-item-content .code-item-line.value-content .code-item-value{
	color: #E6DB74;
}

.code .code-items .code-item .code-item-content .code-item-line.value-content .code-item-value:before,
.code .code-items .code-item .code-item-content .code-item-line.value-content .code-item-value:after{
	content: '"';
	color: #E6DB74;
}

.code .code-items .code-item .code-item-content .code-item-line.value-content .code-item-value:before{
	margin-right: -5px;
}

.code .code-items .code-item .code-item-content .code-item-line.value-content .code-item-value:after{
	margin-left: -5px;
}

.code .code-items .code-item .code-item-content .code-item-line.value-number .code-item-value{
	color: #AE81FF;
}

.code .code-items .code-item .code-item-content .code-item-line.value-number .code-item-value .value-number-percent{
	color: #F92672;
}

.code .code-items .code-item.description-item .directional-arrow{
	display: none;
}

.code .code-items .code-item.description-item:after{
	content: "";
}

.code .code-items .code-item.description-item .description-item-line:before{
	content: "//";
}

.code .code-items .code-item.description-item .description-item-line{
	color: rgba(255,255,255,.5);
	line-height: 25px;
	margin-bottom: 25px;
}

body{
	background: #272822;
	font-family: "Consolas";
	font-size: 16px;
}

::-moz-selection {
    background: rgba(255,255,255,.15);
}

::selection {
    background: rgba(255,255,255,.15);
}

*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    margin:0;
    padding:0;
    text-decoration: none;
    list-style-type: none;
    outline: none;
}