@import 'libs/vars';
@import 'libs/functions';
@import 'libs/mixins';
@import 'libs/skel';



/* Basic */

	code,
	input[type="text"],
	input[type="password"],
	input[type="email"],
	select,
	textarea,
	.box,
	.image,
	.image img,
	input[type="submit"],
	input[type="reset"],
	input[type="button"],
	.button {
		position: relative;
		-ms-behavior: url('assets/js/ie/PIE.htc');
	}

/* Form */

	input[type="text"],
	input[type="password"],
	input[type="email"],
	select {
		line-height: _size(element-height);
	}

	input[type="checkbox"],
	input[type="radio"] {
		@include vendor('appearance', 'normal');

		& + label {
			padding: 0 0 0 1.5em;

			&:before {
				display: none;
			}
		}
	}

/* Button */

	input[type="submit"],
	input[type="reset"],
	input[type="button"],
	.button {
		&.alt {
			border: solid _size(border-width) _palette(border2);
		}
	}