// colors

$color-1: #767070; // Dove Gray
$color-2: #0c7833; // Tree Green
$color-3: #44486c; // Faded Denim
$color-4: #dd1c19; // Red Blood
$color-5: #ffffff; // White
$color-6: #d5ff00; // neon yellow green

// fonts 

$primary-font: 'Montserrat', sans-serif;

// animation

$animation-duration: .7s;