    li:first-of-type .image {
		background-image: url(../img/img-1.jpg);
	}

	li:nth-of-type(2) .image {
		background-image: url(../img/img-2.jpg);
	}

	li:nth-of-type(3) .image {
		background-image: url(../img/img-3.jpg);
	}

	li:nth-of-type(4) .image {
		background-image: url(../img/img-4.jpg);
	}