*{
  margin: 0;
  padding: 0;
  overflow:hidden;
}

body {
 background:#333; 
}

#c {
  width:800px;
  height:376px;
  margin:0 auto;
  display:block;
}

#info {
  position:absolute;
  left:-1px;
  top:-1px;
  width:auto;
  max-width:380px;
  height:auto;
  background:#f2f2f2;
  opacity: 0.7;
  border-bottom-right-radius:10px;
}

#top {
  background:#fff;
  width:100%;

  height:auto;
  position:relative;
  border-bottom:1px solid #eee;
}

p {
  font-family:Arial, sans-serif;
  color:#666;
  text-align:justify;
  font-size: 16px;
  margin:10px;
}

a {
  font-family:sans-serif;
  color:#444;
  text-decoration:none;
  font-size: 20px;
}

#site {
  float:left;
  margin: 10px;
  color: #38a;
  border-bottom:1px dashed #aaa;
}

#close {
  float:right;
  margin: 10px;
}